[2020-12-13 21:06] pingu2k4 opened #2 "[Bug] In Calculator example, connecting a node to the input of another node doesn''t replace the existing connection visually"
**Describe the bug**
Say I have an add node, and in the top input I have pi connected. If I have another node, lets say a subtract node, and drag from the subtract output to the top input on add, then logically it replaces the pi node being input (all values now represent the subtract node entering at top input), however the pi node is visually also still connected to that same top input

**To Rep

[2020-12-14 08:08] miroiu commented on #2
Hi, you described the bug very well and it was easy to reproduce and fix.
The issue will be closed with the commit.
Thank you!

[2020-12-14 08:09] #2 closed

[2020-12-21 22:20] Erranaxx opened #3 "[Bug] Connections do not render correctly in TabControl"
Firstly, thank you immensely for the project, this library will be used as part of an internal tool that produces Lua scripts from a node graph. It has many of my colleagues quite excited!

**Describe the bug**
The connection lines fail to render / update their positions correctly when the NodifyEditor is parented by a TabControl.

**To Reproduce**
My scenario is relatively complicated as I'm usin

[2020-12-21 22:58] miroiu commented on #3
Hi, it's nice to hear that this project is being used in great tools!

I was able to reproduce your bug pretty easy and the fix was just one line of code (one variable assignment).
The issue will be closed automatically with the next commit.

Thanks for reporting the bug.

[2020-12-21 22:59] #3 closed

[2021-01-14 22:08] miroiu opened #4 "[Feature] Add multiple tabs to the calculator app"
**Is your feature request related to a problem? Please describe.**
It would be good to have an example of how to use multiple editors in an application.

**Describe the solution you'd like**
Use a tab control with a 'plus' button like in Chrome to create a new tab. The new tab will contain an empty editor instance.

**Optional**
Add a way to close the tabs. Suggestions:
- a 'close' button present

[2021-03-04 13:09] randym32 opened #5 "Examples don't work with nuget packages"
**Describe the bug**
When I try to build the examples, using the nuget package -- rather than a local build of the nodify csproj -- I get many xaml namespace errors.  Reading the change log this appears to be from the repository having been updated since the last nuget package release to provide the namespace support.

**Requested Fix**
I'd like to ask for a new nuget package release.  Thank-you!

[2021-03-04 14:36] miroiu commented on #5
Hi,

I will create a new release as soon as possible.
Thanks for reporting!

[2021-03-04 15:08] #5 closed

[2021-03-04 15:10] miroiu commented on #5
New versions is up: https://www.nuget.org/packages/Nodify/1.6.1

[2021-04-04 10:30] GeorgeS2019 opened #6 "Hierarchical graph layout"
=> just saw [Group Node](https://github.com/miroiu/nodify/wiki/Nodes-Overview#2-the-groupingnode-control) after suggesting this.

![Grouping Node](https://i.imgur.com/HYxt2cs.gif)

**Describe the solution you'd like**
When the number of nodes getting too many, it would make sense to group them into groups each represented by a SINGLE [Group Node](https://github.com/miroiu/nodify/wiki/Nodes-Overvie

[2021-04-04 12:02] miroiu commented on #6
Hi!
 Is the Grouping Node what you are looking for?

Thanks for contributing!

[2021-04-04 12:07] GeorgeS2019 commented on #6
@miroiu
I see lot of potential of your work.
- ideally we need some sort of hierarchical layout algorithm from Graphivz involving your existing **Grouping Node**
- Even better (for me) is to encapsulate the Grouping Node into ONE single Node, without seeing the child nodes. To hide complexity of Grouping Node. So we can present HIGH level view of the workflow, without seeing the individual nodes b

[2021-04-04 12:07] GeorgeS2019 commented on #6
@miroiu
I see lot of potential of your work.
- ideally we need some sort of hierarchical layout algorithm from Graphivz involving your existing **Grouping Node**
- Even better (for me) is to encapsulate the Grouping Node into ONE single Node, without seeing the child nodes. To hide the complexity and larger size of Grouping Node. So we can present HIGH level view of the workflow, without seeing th

[2021-04-04 12:07] GeorgeS2019 commented on #6
@miroiu
I see lot of potential of your work.
- ideally we need some sort of hierarchical layout algorithm from Graphivz involving your existing **Grouping Node**
- Even better (for me) is to encapsulate the Grouping Node into ONE single Node, without seeing the child nodes. To hide the complexity of Grouping Node. So we can present HIGH level view of the workflow, without seeing the individual nod

[2021-04-05 10:36] miroiu commented on #6
@GeorgeS2019

A general idea would be to move the group of nodes into another graph and have a node that links to it (similar to how Unreal Engine does it when [collapsing graphs](https://docs.unrealengine.com/en-US/ProgrammingAndScripting/Blueprints/BP_HowTo/CollapsingGraphs/index.html))

This can be achieved with the current features and a good viewmodel hierarchy.

[2021-04-05 15:34] miroiu commented on #6
@GeorgeS2019

I've added an example of a node that can hold a graph inside. (see Calculator app)
I hope this helps!

[2021-04-05 15:35] GeorgeS2019 commented on #6
@miroiu I know, U are faster than I can check and then make suggestions :-)

[2021-04-05 15:57] miroiu opened #8 "[Bug] Connected pin updates even when disconnected"
**Describe the bug**
In the calculator application, the connected pins update even after they are disconnected.

**To Reproduce**
Connect and disconnect two pins, then recompute the output pin's value and the input pin will get updated.

**Expected behavior**
Pins should not update if disconnected.

[2021-04-05 16:01] #8 closed

[2021-04-05 16:21] miroiu opened #9 "[Bug] "Input Parameters" node does not remove connections when pins are removed."
**Describe the bug**
"Input Parameters" node does not remove connections when pins are removed.

**To Reproduce**
Create a Calculator node, open it, press the "+" button in the generated "Input Parameters" node, connect the new pin to another node and press the "-" button to remove the pin.

**Expected behavior**
Connection is removed when the pin is removed.

**Screenshots**

![screenshot](https:

[2021-04-05 16:27] #9 closed

[2021-04-12 14:35] miroiu commented on #6
Hi @GeorgeS2019, is there anything else you'd like to know or can I close this issue?

[2021-04-12 17:35] GeorgeS2019 commented on #6
@miroiu HI I just checked, the new calculator node is a group node. Fantastic!!!  Thank you

[2021-04-12 19:15] GeorgeS2019 commented on #6
@miroiu  Just had another idea.

Is it possible to use the group node, in addition to move a group of nodes, the group node can collapse the nodes within its container into a single "Group Node"

This collapsing only works in these nodes have incoming and outcoming connections.

Do you think this is possible?

[2021-04-13 11:32] miroiu opened #10 "[Feature] Group operations"
**Is your feature request related to a problem? Please describe.**
Related to #6

**Describe the solution you'd like**
Use [GroupingNode](https://github.com/miroiu/nodify/wiki/Nodes-Overview#2-the-groupingnode-control)

[2021-04-13 11:38] #10 closed

[2021-04-13 12:14] miroiu commented on #6
@GeorgeS2019 I can't picture that in my mind. Do you mean something like this?

 ![Collapse](https://i.imgur.com/umcFcyf.gif)

You could use the nodes from inside the GroupNode of course, instead of selecting and then collapsing the selection. But for this, you need to filter the nodes that have the Location inside the group node because the group node doesn't know what nodes overlap with it.

[2021-04-13 12:29] GeorgeS2019 commented on #6
@miroiu You have done a lot RIGHT.  Yes.  It is more just usability. The approach I suggest only make sense after layout is implemented. So that once the group NODE is created out of a few nodes, the layout automatically apply and a simpler view of the nodes is presented to provide an update of the node hierachy for further analysis.

[2021-04-13 13:15] miroiu commented on #6
@GeorgeS2019 Have you considered this approach?

![Graphs](https://i.imgur.com/dY7rje8.gif)

It's not working out of the box but could be done with minor modifications.

[2021-04-13 13:21] GeorgeS2019 commented on #6
@miroiu  As I said, U done a lot!!  However, what you offer, is considered RARE among .NET community.  If you like to address this unmet .NET community need.

Take time...  there are many unmet use cases.

(1) As u suggest above, it is a very Unique solution.  Not sure I have found elsewhere.  => Ideally, after once has done with the layout, one can collapse the group container node to back to a S

[2021-04-13 16:03] GeorgeS2019 commented on #6
@miroiu  As I said above.. What u have contributed will inspire others!! thank you!

[2021-04-13 18:39] miroiu commented on #6
@GeorgeS2019 No worries, if you really like this project, please give it a star ⭐

I'm pretty sure you can achieve what you need with a bit of effort.

I made the Grouping Node collapsible but you won't be able to connect nodes directly from outside. Is this how you imagined it?

![Collapse](https://i.imgur.com/m4wRejO.gif)

[2021-04-13 18:43] GeorgeS2019 commented on #6
@miroiu   Everything is excellent, I will promote this project :-)

[2021-04-30 08:32] GeorgeS2019 commented on #6
@miroiu  [Can u address the questions suggested here](https://github.com/imjp94/gd-YAFSM/issues/19#issuecomment-829903042)? This is another use case where Nodify will have an impact!

[2021-04-30 08:33] GeorgeS2019 commented on #6
@miroiu

[Source](https://github.com/imjp94/gd-YAFSM/issues/19#issuecomment-829903042)

[2021-05-24 12:16] ruslan79k opened #14 "NETFramework"
NuGet package not installing for NETFramework

[2021-05-31 18:42] labiej commented on #14
@miroiu
This seems mostly a case of publishing the version of Nodify with support for multiple frameworks.

It might be worth it to consider strong name signing the assembly, see [Microsoft recommedations](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming#create-strong-named-net-libraries) for more info. It should not break anything, although it could break things whe

[2021-06-03 06:45] Yokosama opened #15 "NodifyEditor.SelectionChanged Event always triggered when left mouse button selection a node?"
Code in Nodify.Calculator, add **SelectionChanged="Editor_SelectionChanged"**
xaml code:
[code]
xaml.cs code:
[code]
![image](https://user-images.githubusercontent.com/19573211/120599435-1908e680-c47a-11eb-9022-da5eef876d3c.png)

Is there a beter way to trigger selection changed event? Thank you.

[2021-06-05 18:22] miroiu commented on #14
Hi,
The problem was that the latest NuGet package at that time (v1.6.1) did not include .NET framework targets.
@ruslan79k please let me know if the new version (v1.6.2) works for you.
Sorry for the delay.

[2021-06-05 18:43] miroiu commented on #14
@labiej
That's a good idea. I was looking into it a while back but was afraid that I may break something.

[2021-06-05 19:17] miroiu commented on #15
Hi,
That's indeed an issue, but you can use an observable collection and subscribe to add and remove item events for now.
Example using NodifyObservableCollection:

[code]
![image](https://user-images.githubusercontent.com/12727904/120902907-9b94d000-c64b-11eb-9b15-0aa0b308966e.png)

![image](https://user-images.githubusercontent.com/12727904/120902899-933c9500-c64b-11eb-8105-ae88d942178d.png)

[2021-06-06 01:26] Yokosama commented on #15
It's really a solution. Thank you very much.

[2021-06-07 08:37] Yokosama opened #16 "Does GroupingNode need a resize completed event to implement undo resize?"
Hi, i want to implement undo resize when GroupingNode resize completed. It looks like i need to add an event? or is there any other solution? Thank you.

[2021-06-07 19:37] miroiu commented on #16
Hi, you can bind to the GroupingNode.ActualSize property which is only set when the resize is completed.
Example from Playground app:
[code]

[code]

Please let me know if that helps.

[2021-06-07 22:05] #15 closed

[2021-06-07 22:06] miroiu commented on #15
The `SelectionChangedEvent` should work properly now.

[2021-06-08 21:13] miroiu commented on #16
Added `ResizeCompleted` event and `ResizeCompletedCommand` in commit 12a8d2f20fcd5eba6f2fb53ef570d70545576ea9
Let me know if this is what you need. Thanks!

[2021-06-09 01:19] Yokosama commented on #16
Yes, that's what I need. Thank you very much.

[2021-06-09 01:19] #16 closed

[2021-06-11 21:07] labiej commented on #14
@miroiu

Sorry for not responding sooner, I've been busy.

Regarding breaking things, unless I'm missing something strong naming an assembly shouldn't break anything.
It can cause issues when the key itself changes because that will change the strong name.

I did find the time to do some more digging especially how to handle the key file itself.

* Signing an open source library is recommended by

[2021-06-12 08:11] labiej opened #19 "[Docs] API docs"
**Describe the issue**

It might be useful to consider using a tool to generate API docs from [XML comments](https://docs.microsoft.com/en-us/dotnet/csharp/codedoc).
This way it is possible to generate an [API reference](https://docs.microsoft.com/en-us/dotnet/api/system.notimplementedexception?view=net-5.0) like Microsoft.

By including the generated xml file in the NuGet the XML comment will als

[2021-06-12 08:23] miroiu commented on #14
@labiej

No worries. Thanks for your time and the PR!
I will close this issue as it was fixed with the 1.6.2 release.

[2021-06-12 08:23] #14 closed

[2021-06-12 14:35] miroiu commented on #19
I was thinking of generating a markdown file and committing it to the docs branch. I am considering extending [Docpal](https://github.com/TheBerkin/Docpal) and manually commit the generated .md file or extend the tool to automatically create a pull request as part of the release pipeline.

Nonetheless, I will enable XML generation in .csproj for the NuGet package.

[2021-06-12 14:43] labiej commented on #19
I'd never heard about social before.
I do agree that it's perfect for nodify since integrating docfx seems
tedious at best.

It should be possible to automatically update or extend the API reference
when a new release is created.

If you want I can take a look this week if it is as straightforward as it
looks.

On Sat, 12 Jun 2021, 16:36 Miroiu Emanuel, ***@***.***> wrote:

[2021-06-12 17:57] miroiu commented on #19
If you mean DocPal, then yes it looks like it can be executed from the command line but I have some problems with it not loading some WPF assemblies.

There's also [XmlDocMarkdown](https://github.com/ejball/XmlDocMarkdown) which seems promising but it generates docs only from XML documents. I didn't use it yet but I guess that I will run into the same problem as DocPal regarding the assemblies.

I

[2021-06-12 19:14] miroiu commented on #19
Coming back to this.. I made DocPal work with WPF. Here's the repo in case you're interested: https://github.com/miroiu/Docpal
I noticed it generates a LOT of extra documentation: about 82k lines of markdown.

I may have to tweak it a bit 😁

[2021-06-14 17:28] labiej commented on #19
It was indeed a typo, autocorrect didn't help me there.

FIY, I did test XmlDocMarkdown yesterday.
It did indeed have the same issue.

Now I'm wondering if the UseWPF option is viral in nature (all referencing projects need to set it to true as well).
It might be worth it to open an issue on the repo.

[2021-06-14 18:46] miroiu commented on #19
Ok, it looks like even with the WPF fix there are still other issues. What bothers me is that DocPal goes too deep in the inheritance hierarchy and generates a lot of extra stuff that's already on MSDN. I tried tweaking it but I still don't like the results.

I started to create a new documentation tool: https://github.com/miroiu/MarkdownDocs
Plans are to generate links to MSDN where needed and li

[2021-06-15 21:06] labiej commented on #19
Cool, I'm looking forward to a first version.

In the mean time I have some immediate questions (which might be helpful or not)

* Any idea how one could identify whether a type is a part of the BCL (I'm including WPF for simplicity)?
* How are you planning to link back to MSDN?
   I know docFx use a so-called xrefServiceUrl which might be useful **IF** other tools are allowed to use these service

[2021-06-16 07:06] miroiu commented on #19
May I know why this could be relevant? I'm only parsing the types that [are exported](https://github.com/miroiu/MarkdownDocs/blob/master/MarkdownDocs/Resolver/AssemblyResolver.cs#L34) from the input assembly (public types).

I'm [scanning the assembly](https://github.com/miroiu/MarkdownDocs/blob/master/MarkdownDocs/Resolver/TypeResolver.cs#L122) for an `AssemblyCompanyAttribute` to determine if th

[2021-06-16 14:51] labiej commented on #19
It was just something that came to mind when thinking about the tool.
Basically thinking about hierarchies and stuff.

I didn't think about the attribute.
Regarding the links, it should be relatively straightforward to refactor that part to use some kind of DocumentationLinkResolver (if and when needed of course).

The fun really starts when there are circular references.
I think using an intermed

[2021-06-17 08:50] GGorany opened #20 "[Question] What is the best way to save all current node state?"
What is the best way to save all current node state?

I'm a beginner in programming, and your project is really helpful to me.
I think you already have in mind,
What's the best way to save and reload all of the current node state?

If you already have a solution, please let me know.

Thank you very much.

[2021-06-17 13:35] miroiu commented on #20
Hi,

This is really up to you.

Depending on how you structure the view models, you have a couple of options:

- serialize the whole object graph into JSON/XML/binary or any other format (if there are no cyclic dependencies)
- extract the data that you want to be saved from the view models and serialize it into JSON/XML/binary or any other format (**Recommended**)

Both approaches should give you

[2021-06-18 15:19] #20 closed

[2021-06-19 20:32] miroiu commented on #19
Refactored into [DocsUrlResolver](https://github.com/miroiu/MarkdownDocs/blob/284363f6218ed9151794062f6c23863c04b5dcb2/MarkdownDocs/DocsUrlResolver.cs#L43)

Not a problem because basic type information [is retrieved first](https://github.com/miroiu/MarkdownDocs/blob/284363f6218ed9151794062f6c23863c04b5dcb2/MarkdownDocs/Resolver/AssemblyResolver.cs#L50) and then information about its members. And i

[2021-06-23 16:35] miroiu commented on #19
I just released a first version of the API documentation: https://miroiu.github.io/nodify/docs/api/Alignment

I am not able to package the docs generator as a NuGet tool because it does not support WPF.

[2021-06-26 15:08] miroiu commented on #6
Hi @GeorgeS2019, thanks for finding some real use cases for Nodify. All of these open-source projects are a good fit for Nodify but I'd rather invest the time working on Nodify than starting big projects like creating a brand new editor.

Thanks for your interest!

[2021-06-26 15:08] #6 closed

[2021-07-08 06:04] GGorany opened #21 "[Question] NodifyObservableCollection Move()"
When Changing the order of nodes in real time using Move() of NodifyObservableCollection,
Connection is not properly connected.

![Animation](https://user-images.githubusercontent.com/43957958/124869652-76093680-dffc-11eb-9efc-aae1ef66b4bc.gif)

Please, Check this.
Thank you very much.

[2021-07-08 09:44] miroiu commented on #21
Hi,
This is the default behavior of [ObservableCollection](https://docs.microsoft.com/en-us/dotnet/api/system.collections.objectmodel.observablecollection-1.move?view=net-5.0). `Move` does not swap items but replaces them.

I would suggest that you add an `Order` dependency property on the `NodeViewModel` and bind it to the drop-down to keep track of the order of the nodes if that's what you're tr

[2021-07-09 07:06] GGorany commented on #21
I decided not to change the order of the nodes using Move() as per your advice.

It was not easy to change the execution order of the nodes.

Thank you very much for your advice.

[2021-07-09 07:07] #21 closed

[2021-07-27 14:22] miroiu opened #22 "[Feature] Generate settings panel from view model"
**Is your feature request related to a problem? Please describe.**
Adding new entries to the Playground's settings panel is error-prone and it's really hard to change their order.

**Describe the solution you'd like**
The settings panel could be generated based on a view model that has a list of available settings.

**Additional context**
The settings panel in Nodify.Playground
![The settings pane

[2021-09-03 03:12] RajaduraiAz commented on #4
Hi @miroiu i would like to work on this

[2021-09-03 07:52] miroiu commented on #4
Hi @RajaduraiAz!
That's great. Please let me know if you have any questions.

[2021-09-05 16:17] RajaduraiAz commented on #4
@miroiu great I am started to work on this

[2021-09-17 14:11] miroiu opened #23 "[Feature] Open context menu when connection is dropped"
**Is your feature request related to a problem? Please describe.**
I would like to open a context menu from a pending connection.

**Describe the solution you'd like**
When dropping a pending connection onto the editor's surface, a context menu should open showing all available nodes. When a node is selected, a new connection to that node should be created.

**Additional context**
Something simila

[2021-09-17 14:26] miroiu commented on #23
Example implementation in Calculator app

![Example](https://i.imgur.com/AINDbvH.gif)

[2021-09-20 06:43] #23 closed

[2021-11-11 10:55] Sabuto opened #25 "[Question] Any chnace of getting this to work with avalonia"
I am writing an Avalonia application, is there any chance of getting this to work with that in the future?

[2021-11-11 20:15] miroiu commented on #25
Hi, Avalonia is a different framework which means that the entire codebase must be rewritten (and possibly rethought) in order to make Nodify work with it.
I don't have the time, nor the energy to do this.

[2021-11-11 21:20] Sabuto commented on #25
that's fair enough thanks for getting back to me :)

[2021-11-12 07:03] miroiu commented on #25
Thank you for your interest in Nodify.

[2021-11-12 07:03] #25 closed

[2021-11-28 10:15] furesoft opened #26 "[Question] AvaloniaPort"
Could you make an AvaloniaUI Port to use it on different platforms?

[2021-11-28 12:37] Sabuto commented on #26
I already asked this :) #25

[2021-11-29 17:29] miroiu commented on #26
Hi, I will close this issue because it was already discussed.

[2021-11-29 17:29] #26 closed

[2022-01-05 10:30] Megapit opened #27 "[Feature] Different shapes and colors of connectors. Also: Only connect matching connectors"
**Is your feature request related to a problem? Please describe.**

I plan to renew my feeder for vJoy and release this as open source. vJoy is a virtual gaming device which is controlled by a so called feeder. For Example there is [Joystick Gremlin](https://whitemagic.github.io/JoystickGremlin/)
I allready have my own, fully working feeder which i did not release because of the complex configurat

[2022-01-07 14:47] miroiu commented on #27
Hi @Megapit,

The feature you requested can be achieved with the existing functionality.
I created a PR to demonstrate that.

Please let me know if I'm missing anything.

[2022-01-08 20:51] #27 closed

[2022-02-07 16:57] #4 closed

[2022-04-01 16:24] ruchirlives opened #31 "WolvenKit for modding CyberPunk 2077"
Hi miroiu

The devs of WolvenKit are exploring implementing Nodify as a node based component for the open sourced application.
It’s a modding application for Cyberpunk 2077 and similar RED engine based games.
While the user base for this application is in the several 1000s, and very active, the devs are all volunteers. Keen to reach out and see if you could advise/support us?
See https://github.co

[2022-04-06 10:44] Yokosama opened #32 "[Feature]Is there an easy way to create a graph mini map?"
Like this:
![image](https://user-images.githubusercontent.com/19573211/161957815-6684d675-8339-4651-b366-e625b7f01cbe.png)

My solution：
https://gist.github.com/Yokosama/723b0465a669c9207b69b77e9cec653d
![xxx](https://user-images.githubusercontent.com/19573211/162166702-5c08a4a6-1f1f-4b7b-b114-2ffdc3dc1811.png)

I have some question:
How to get ItemContainer's width and height use binding? the res

[2022-06-07 13:40] wdc63 opened #33 "[Application] Add more examples."
Can you make some examples of minimal use of nodify, the current three examples are a bit too hard to understand for beginners. Thanks.

[2022-06-21 03:34] kiranmaya opened #34 "will it work with blazor server"
hi ,
i read this https://docs.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/wpf?view=aspnetcore-6.0,
so will this work in blazor -server app ?

[2022-07-11 15:19] Chevalier12 opened #35 "[Application] Can you show a non-MVVM approach to this?"
I don't know how to use MVVM properly and was curious on how to do this, the examples aren't really simple to understand either for a beginner (when I looked into the examples I got crushed to be honest, I don't understand one bit of the implementation).

For example, I'd begin by adding children to the NodeEditor, say my first child is "Add", this "Add" is a class that has two properties called "

[2022-07-11 17:00] miroiu commented on #34
Hi,
I don't see any reason why this would not work. Have you tried it?

[2022-07-11 17:15] miroiu commented on #31
Hi, ruchirlives,

WolvenKit looks like a big project and because I am really busy nowadays I'd rather not get involved in anything of this size. Have a great day!

[2022-07-11 17:15] #31 closed

[2022-07-11 17:58] kiranmaya commented on #34
Nope, not yet. new to blazor,is there any kind of canvas for WPF rendering ?

[2022-07-11 18:09] ruchirlives commented on #31
No probs
I think the wolvenkit team were doing some amazing work with help from your code. I've not been keeping tabs for a couple of months.

Ruchir
________________________________
From: Miroiu Emanuel ***@***.***>
Sent: Monday, July 11, 2022 18:16
To: miroiu/nodify ***@***.***>
Cc: Ruchir Shah ***@***.***>; Author ***@***.***>
Subject: Re: [miroiu/nodify] WolvenKit for modding CyberPunk 2077 (I

[2022-07-13 17:42] miroiu commented on #35
Hi, it would be hard to create a non-MVVM version but here's a POC of a simplified version of Nodify that minimizes the required boilerplate: https://github.com/miroiu/nodify/tree/feature/new-blueprint

[2022-07-15 17:13] miroiu opened #37 "[Bug] Connections can be created cross graphs"
**Describe the bug**
It is possible to connect nodes to child graphs, which is not intended and will result in bad Anchor calculations.

**To Reproduce**
Add an operation graph in the calculator example and connect a node from the root graph to another node inside the operation graph.

**Expected behavior**
I should not be able to create connections across graphs.

**Screenshots**
In this example,

[2022-08-04 14:10] Pat02 opened #38 "[Question] Is functionality going to be added for saving a node graph?"
Saving / Loading node graphs would be hugely beneficial, will there be any support out of the box, or will it be up to a user to implement their own save system?

[2022-08-04 19:22] miroiu commented on #38
Hi, this feature doesn't make sense for Nodify, the controls library, but it would make sense for the consuming app which defines the viewmodels. That means you will have to implement your own saving system which is specific to your models.

Note that this feature _may be_ supported out of the box for the new library in this PR: #36.

[2022-09-03 01:16] VBerman commented on #22
Is this issue still active? I can take it

[2022-09-03 05:50] miroiu commented on #22
Hi! Yes, you can take it.

[2022-09-04 15:20] VBerman commented on #22
Hello, is the solution through Reflection suitable for the project?
It remains for me to figure out how to make bindings and place it all in a normal structure
![image](https://user-images.githubusercontent.com/61354229/188320903-aef635b2-2b8e-42ca-862b-052c20339644.png)

[2022-09-04 16:10] miroiu commented on #22
Hey, I believe that Reflection would overcomplicate things. The real issue here is the XAML code for the settings panel. To add a new entry at the top (row 0), you'd have to manually offset all the other entries by one row. I think that having all the available settings hardcoded into a list of viewmodels would be enough. That way you could easily change the order of the items inside the list and

[2022-09-05 17:07] VBerman commented on #22
Hello, list from Reflection will like sequence in PlaygroundSetting fields. If swap fields in PlaygroundSettings - list too will changed. But okay, I can implement viewmodels for settings, but I have not idea how associate settings from this list with PlaygroundViewModel (how PlaygroundViewModel will take settings? Create a separate method to find the required setting?)
I implement a way with view

[2022-09-05 18:11] miroiu commented on #22
One option would be to implement `IEnumerable` in `PlaygroundSettings` and return the hardcoded list of settings (hardcoded inside the constructor most probably). Another option would be to create the list with the hardcoded items inside the `PlaygroundViewModel`'s constructor. In both cases, the `PlaygroundViewModel.Settings` property will have the list of settings which will then be bound to the

[2022-09-06 02:31] VBerman commented on #22
Okay, I finally figured it out.
For each type settings will be created separate VM.
Base class for all them look like:

    public class SettingViewModel : ObservableObject
    {
        public SettingViewModel(string title)
        {
            Title = title;
        }
        public string Title { get; set; }
        protected Control _control = new();
        public Control Control
        {

[2022-09-06 19:23] miroiu commented on #22
You could have a common interface for all the settings like this:

[code]

The have a base setting class that's type safe:
[code]

And a different sub-class for each data type so you can use `DataTemplate`s to render the view where the value will be bound. (like a TextBox or a CheckBox, etc)

[code]

Then you can still have a list of settings and you don't need to cast each instance to a specific

[2022-09-06 19:41] miroiu commented on #22
Doing this will probably work just fine but then how would you bind the settings to the editor? I think we could use the `EditorSettings` to do that for us and create a proxy setting that would just set properties on the `EditorSettings` instance.

Something like this:
[code]

And you could use it like this:
[code]

[2022-09-06 20:25] VBerman commented on #22
Wow, it is next level for me :D
I'm implement this, thank you for your attention.
It's a great experience for me

[2022-09-26 11:34] miroiu commented on #33
I updated the [wiki](https://github.com/miroiu/nodify/wiki/Getting-Started) in the meantime with a getting started section.

[2022-09-26 20:55] wrekklol opened #39 "[Question] Is it possible to snap selection rectangle"
Hello. I was wondering if it is possible to make the selection rectangle snap to the/a grid? Doing an image editor currently, and I'm trying to get it to snap to the pixels but it seems like it is not possible currently? Not that experienced with WPF yet. :)

Also, is it possible to use the selection as a dependencyobject? I'm trying to do marching ants on the selection as well.

[2022-09-27 05:31] wrekklol commented on #39
Got the first thing working by setting UseLayoutRounding on the selection style. Now I'm just trying to figure out how to use animations on it.

[2022-09-27 05:47] #39 closed

[2022-09-27 07:32] miroiu commented on #39
Hi! Your use case is interesting but I'm not sure how much of Nodify you can use for an image editor.
It is not possible to snap the selection rectangle to the grid at the moment. And as you may already have figured out, you can override the selection rectangle style to implement marching ants. (I created a [PR](https://github.com/miroiu/nodify/pull/40) to demonstrate that)

[2022-09-27 12:44] wrekklol commented on #39
The graph editor is what I use Nodify for currently, because it "just works". :)

[2022-09-27 15:15] miroiu commented on #39
That's really cool! I am curious what package version you use. There are a lot of improvements in v2 but it has many breaking changes. I created a changelog for that.

[2022-09-27 18:59] miroiu commented on #34
It's actually the other way around. You have a WPF app that displays razor pages inside web views (using BlazorWebView).
https://learn.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/wpf?view=aspnetcore-6.0

I can't help too much here, so I'm gonna close this issue.

[2022-09-28 14:19] wrekklol commented on #39
I'm using the master branch from about 3 weeks ago. :)

[2022-10-04 17:31] miroiu commented on #22
Hi @VBerman! Are you still working on this? If not, I will unassign it so others can pick it up. Thanks!

[2022-10-06 07:13] miroiu opened #43 "[Docs] Generate API Reference on build action"
**Describe the issue**
Find a way to generate API Reference from XML comments in the build pipeline (GitHub action) and upload it to the wiki.
Please make sure that documentation is generated only for types inside Nodify.dll and that links to WPF classes are pointing to the Microsoft documentation (e.g. references to FrameworkElement will point to this https://learn.microsoft.com/en-us/dotnet/api/

[2022-10-06 07:31] miroiu opened #44 "[Feature] Configurable arrowhead for connections"
**Describe the solution you'd like**

The `BaseConnection` can display an arrowhead at the end of the line if `ArrowSize` is valid. I would like to be able to specify at which end of the line the arrow should be displayed. (possible values for ArrowHeadEnds: None, Start, End, Both).

Don't forget to add the new setting to the Playground app.

Optional: Customize the shape of the arrowhead: Arrow (

[2022-10-08 03:51] AnvarAslam commented on #44
Can I Solve These Issue & U Can Guide Me To Solve It

[2022-10-08 03:55] AnvarAslam commented on #37
Can I Solve These Issue

[2022-10-08 07:35] miroiu commented on #37
Hi @AnvarAslam! You can solve it! Please let me know if you need more information.

[2022-10-08 07:37] miroiu commented on #44
Hi @AnvarAslam! You already have #37 assigned to you. Once you solve that one you can also pick this one unless someone else starts working on it.

[2022-10-10 16:29] AnvarAslam commented on #37
@miroiu give me all info plz  about this project what the bug you face and guide me to solve

[2022-10-10 16:33] AnvarAslam commented on #37
i am little bit confuse can u help to get started

[2022-10-10 17:54] miroiu commented on #22
Unassigned due to inactivity.

[2022-10-10 17:56] miroiu commented on #37
You can start by looking at what the PendingConnection does.

[2022-10-10 18:52] AndreasGeorg opened #45 "Connector as INOUT? [Question]"
Is there a possibility that a connector is a destination for one input and the source for many connections at the same time?

[2022-10-11 06:16] miroiu commented on #45
Hi @AndreasGeorg, do you mean something like this? If yes, you can try it out in the Playground app by splitting a connection (double-click on a wire) and connecting to the resulting node.

![image](https://user-images.githubusercontent.com/12727904/195010373-5d9a6d60-e020-4dd4-8516-816bafad0a1e.png)

![image](https://user-images.githubusercontent.com/12727904/195010525-d6fda151-2687-4264-8ce0-375

[2022-10-11 16:20] AndreasGeorg commented on #45
Hi @miroiu I think to somthing like this
<img width="776" alt="Excample_inout" src="https://user-images.githubusercontent.com/12750184/195146049-43d67b2e-6a16-4222-aff0-7f067d658ee5.png">

[2022-10-11 17:03] miroiu commented on #45
Yes, connectors can be connected in any way.
You can also display connections on top.

![image](https://user-images.githubusercontent.com/12727904/195154836-61fb0480-f1fe-45aa-b5af-842576eeeeb3.png)

[2022-10-11 17:13] #45 closed

[2022-10-12 19:06] miroiu opened #46 "[Feature] Configurable editor key-bindings"
**Is your feature request related to a problem? Please describe.**
It's possible but very hard to override the default keybindings for panning, selecting, etc.

**Describe the solution you'd like**
I would like to have the possibility to change the default keybindings.

**Additional context**
[WolvenKit](https://github.com/WolvenKit/WolvenKit/pull/927/files#r993803227)

[2022-10-15 20:26] miroiu commented on #46
Fixed in #47

[2022-10-15 20:26] #46 closed

[2022-10-15 21:48] miroiu commented on #37
Hi! I fixed this issue for the v4.0.0 release.

[2022-10-15 21:48] #37 closed

[2022-10-26 01:14] vinicius-nicolete commented on #44
Hello @miroiu , can I work in this issue?

[2022-10-26 05:10] miroiu commented on #44
Hi @vinicius-nicolete ! Sure, you can have it.

[2022-10-29 00:45] vinicius-nicolete commented on #44
Hi @miroiu,
I have some trouble for testing.
I can test in the Playground project, right? There need to be create a setting or already have a setting there for doing that?

![image](https://user-images.githubusercontent.com/73319683/198753762-9d455872-d26e-4e69-943c-9268447a0e0a.png)

[2022-10-30 15:23] miroiu commented on #44
Hi @vinicius-nicolete, you have to add a new setting in the playground app for the arrowhead.

[2022-11-04 11:11] miroiu commented on #44
Just to add some information here: the BaseConnection class is the place to add the arrowhead. There is the DrawArrowGeometry method that can be used to draw the arrow in the correct position. This method already knows how to draw the arrowhead on each end of the line depending on the Direction property. The direction only switches the meaning of the ArrowHeadEnds.Start and ArrowHeadEnds.End and s

[2022-11-10 18:29] mshumayl commented on #44
Hi @miroiu, if it's okay, I'd like to work on this.

[2022-11-10 18:57] miroiu commented on #44
Hi @mshumayl, you can have it!

[2022-11-15 14:42] miroiu commented on #44
Hi @mshumayl ! Thank you very much for your contribution.

[2022-11-15 14:42] #44 closed

[2022-11-15 14:49] miroiu opened #52 "[Feature] Configurable arrowhead shape"
The `BaseConnection` can display an arrowhead in the specified position by `ArrowEnds` if `ArrowSize` is valid. I would like to be able to customize the shape of the arrowhead. (possible values for ArrowHeadShape: Arrow, Ellipse, Rectangle).

Don't forget to add the new setting to the Playground app and to the changelog.

[2022-11-22 04:28] faguetan opened #53 "[Question] Limit inifinte panning"
Hello! First of all, thank you for your amazing job with Nodify! Wanted to ask what is the best possible way of limiting panning to actual contents of the editor? I am building an application that suggests placing nodes in ordered columns with user having an option to add more columns and further add nodes in these new columns. Therefore from the start user workspace will be limited to visible scr

[2022-11-24 07:15] miroiu commented on #53
Hi @faguetan , one way to limit the panning to the actual contents of the editor is to bind to the ItemsExtent and limit the ViewportLocation based on it. For scrollbars, I suggest that you extend the NodifyEditor class and implement IScrollInfo, then wrap the instance in a ScrollViewer. I assume you want to build a Kanban board or something similar, and I don't believe Nodify is a good choice for

[2022-11-27 04:56] faguetan commented on #53
Dear @miroiu , thank you so much for the tip! I will try this approach. Actually, it is not a Kanban I am building but rather an app that allows to create chains for certain business processes. Therefore Nodify is a 100% hit for this task. I hope to be able to demonstrate it at some point.